* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

p{
    font-size: 1.5rem;
}

/* High Score and Start Game button */
.btn {
    font-size: 1.5rem;
    background-color: purple;
    color: azure;
}
