* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

p{
    font-size: 1.5em;
}

/* High Score and Start Game button */
.btn {
    font-size: 1.5em;
    background-color: purple;
    color: azure;
}

.top-container {
    padding: 30px 30px 30px 30px;
}

.bottom-container {
    padding: 50px 50px 50px 50px;
}

.quiz-intro {
    box-shadow: 0 0 10px 2px;
    max-width: 100%;
    padding: 10px;
}

.intro-p {
    padding: 50px 50px 50px 50px;
}

